openapi: 3.0.0
info:
  title: TVMaze
  version: '1.0'
servers:
  - url: 'https://api.tvmaze.com'
    description: TVMaze
paths:
  /search/shows:
    parameters: []
    get:
      summary: Get User Info by User ID
      tags: []
      responses:
        '200':
          description: TV shows found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShowSearchResult'
              examples:
                example-1:
                  value:
                    - score: 17.862923
                      show:
                        id: 139
                        url: 'https://www.tvmaze.com/shows/139/girls'
                        name: Girls
                        type: Scripted
                        language: English
                        genres:
                          - Drama
                          - Romance
                        status: Ended
                        runtime: 30
                        premiered: '2012-04-15'
                        officialSite: 'http://www.hbo.com/girls'
                        schedule:
                          time: '22:00'
                          days:
                            - Sunday
                        rating:
                          average: 6.6
                        weight: 92
                        network:
                          id: 8
                          name: HBO
                          country:
                            name: United States
                            code: US
                            timezone: America/New_York
                        webChannel: null
                        dvdCountry: null
                        externals:
                          tvrage: 30124
                          thetvdb: 220411
                          imdb: tt1723816
                        image:
                          medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/31/78286.jpg'
                          original: 'https://static.tvmaze.com/uploads/images/original_untouched/31/78286.jpg'
                        summary: <p>This Emmy winning series is a comic look at the assorted humiliations and rare triumphs of a group of girls in their 20s.</p>
                        updated: 1611310521
                        _links:
                          self:
                            href: 'https://api.tvmaze.com/shows/139'
                          previousepisode:
                            href: 'https://api.tvmaze.com/episodes/1079686'
                    - score: 15.115905
                      show:
                        id: 23542
                        url: 'https://www.tvmaze.com/shows/23542/good-girls'
                        name: Good Girls
                        type: Scripted
                        language: English
                        genres:
                          - Drama
                          - Comedy
                          - Crime
                        status: Running
                        runtime: 60
                        premiered: '2018-02-26'
                        officialSite: 'https://www.nbc.com/good-girls'
                        schedule:
                          time: '22:00'
                          days:
                            - Sunday
                        rating:
                          average: 7.4
                        weight: 99
                        network:
                          id: 1
                          name: NBC
                          country:
                            name: United States
                            code: US
                            timezone: America/New_York
                        webChannel: null
                        dvdCountry: null
                        externals:
                          tvrage: null
                          thetvdb: 328577
                          imdb: tt6474378
                        image:
                          medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/297/744253.jpg'
                          original: 'https://static.tvmaze.com/uploads/images/original_untouched/297/744253.jpg'
                        summary: '<p><b>Good Girls</b> follows three "good girl" suburban wives and mothers who suddenly find themselves in desperate circumstances and decide to stop playing it safe, and risk everything to take their power back.</p>'
                        updated: 1618390831
                        _links:
                          self:
                            href: 'https://api.tvmaze.com/shows/23542'
                          previousepisode:
                            href: 'https://api.tvmaze.com/episodes/2051665'
                          nextepisode:
                            href: 'https://api.tvmaze.com/episodes/2055894'
                    - score: 14.9460745
                      show:
                        id: 49892
                        url: 'https://www.tvmaze.com/shows/49892/the-powerpuff-girls'
                        name: The Powerpuff Girls
                        type: Scripted
                        language: English
                        genres: []
                        status: In Development
                        runtime: null
                        premiered: null
                        officialSite: null
                        schedule:
                          time: ''
                          days: []
                        rating:
                          average: null
                        weight: 94
                        network:
                          id: 5
                          name: The CW
                          country:
                            name: United States
                            code: US
                            timezone: America/New_York
                        webChannel: null
                        dvdCountry: null
                        externals:
                          tvrage: null
                          thetvdb: null
                          imdb: tt12976292
                        image:
                          medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/307/768002.jpg'
                          original: 'https://static.tvmaze.com/uploads/images/original_untouched/307/768002.jpg'
                        summary: <p>The superhero children have grown and are now disillusioned twentysomethings who resent having lost their childhood to crime fighting. Will they agree to reunite now that the world needs them more than ever?</p>
                        updated: 1618291403
                        _links:
                          self:
                            href: 'https://api.tvmaze.com/shows/49892'
                    - score: 14.8862915
                      show:
                        id: 722
                        url: 'https://www.tvmaze.com/shows/722/the-golden-girls'
                        name: The Golden Girls
                        type: Scripted
                        language: English
                        genres:
                          - Drama
                          - Comedy
                        status: Ended
                        runtime: 30
                        premiered: '1985-09-14'
                        officialSite: null
                        schedule:
                          time: '21:00'
                          days:
                            - Saturday
                        rating:
                          average: 8.5
                        weight: 90
                        network:
                          id: 1
                          name: NBC
                          country:
                            name: United States
                            code: US
                            timezone: America/New_York
                        webChannel: null
                        dvdCountry: null
                        externals:
                          tvrage: 5820
                          thetvdb: 71292
                          imdb: tt0088526
                        image:
                          medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/6/15097.jpg'
                          original: 'https://static.tvmaze.com/uploads/images/original_untouched/6/15097.jpg'
                        summary: '<p><b>The Golden Girls</b> follows four South Florida seniors sharing a house, their dreams, and a whole lot of cheesecake. Bright, promiscuous, clueless, and hilarious, these lovely mismatched ladies form the perfect circle of friends.</p>'
                        updated: 1617572610
                        _links:
                          self:
                            href: 'https://api.tvmaze.com/shows/722'
                          previousepisode:
                            href: 'https://api.tvmaze.com/episodes/64040'
                    - score: 14.840658
                      show:
                        id: 33320
                        url: 'https://www.tvmaze.com/shows/33320/derry-girls'
                        name: Derry Girls
                        type: Scripted
                        language: English
                        genres:
                          - Comedy
                        status: Running
                        runtime: 30
                        premiered: '2018-01-04'
                        officialSite: 'http://www.channel4.com/programmes/derry-girls'
                        schedule:
                          time: '22:00'
                          days:
                            - Tuesday
                        rating:
                          average: 8
                        weight: 93
                        network:
                          id: 45
                          name: Channel 4
                          country:
                            name: United Kingdom
                            code: GB
                            timezone: Europe/London
                        webChannel: null
                        dvdCountry: null
                        externals:
                          tvrage: null
                          thetvdb: 338903
                          imdb: tt7120662
                        image:
                          medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/184/460240.jpg'
                          original: 'https://static.tvmaze.com/uploads/images/original_untouched/184/460240.jpg'
                        summary: '<p>16-year-old Erin Quinn lives with her uncompromising mother, her long-suffering father and the fearsome ‘Granda Joe'', a man whose love for his daughters and granddaughters is surpassed only by his contempt for his son-in-law.</p><p>It''s the early 90s, and Erin is used to seeing her country on the nightly news and speaking in acronyms (The IRA, The UDA, The RUC). This is a time of armed police in armoured Land Rovers and British Army check points. But it''s also the time of Murder She Wrote, The Cranberries, MJ and Lisa Marie, Doc Martens, bomber jackets, The X Files, Nirvana and Wayne''s World. And while The Troubles may hang over her home town, Erin has troubles of her own</p>'
                        updated: 1608838190
                        _links:
                          self:
                            href: 'https://api.tvmaze.com/shows/33320'
                          previousepisode:
                            href: 'https://api.tvmaze.com/episodes/1631064'
                    - score: 14.693986
                      show:
                        id: 32087
                        url: 'https://www.tvmaze.com/shows/32087/chicken-girls'
                        name: Chicken Girls
                        type: Scripted
                        language: English
                        genres:
                          - Drama
                          - Children
                          - Music
                        status: Running
                        runtime: 16
                        premiered: '2017-09-05'
                        officialSite: 'https://www.youtube.com/playlist?list=PLVewHiZp3_LPhqzbcZFmS3iuDm9HymTsy'
                        schedule:
                          time: '15:00'
                          days:
                            - Tuesday
                        rating:
                          average: 5.7
                        weight: 89
                        network: null
                        webChannel:
                          id: 274
                          name: Brat
                          country:
                            name: United States
                            code: US
                            timezone: America/New_York
                        dvdCountry: null
                        externals:
                          tvrage: null
                          thetvdb: 339854
                          imdb: null
                        image:
                          medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/250/627433.jpg'
                          original: 'https://static.tvmaze.com/uploads/images/original_untouched/250/627433.jpg'
                        summary: '<p>Rhyme and her friends — known by their ''ship name, "The Chicken Girls" — have been dancing together forever. But this year, everything''s changing...</p>'
                        updated: 1618342236
                        _links:
                          self:
                            href: 'https://api.tvmaze.com/shows/32087'
                          previousepisode:
                            href: 'https://api.tvmaze.com/episodes/2053198'
                          nextepisode:
                            href: 'https://api.tvmaze.com/episodes/2053199'
                    - score: 14.268211
                      show:
                        id: 525
                        url: 'https://www.tvmaze.com/shows/525/gilmore-girls'
                        name: Gilmore Girls
                        type: Scripted
                        language: English
                        genres:
                          - Drama
                          - Comedy
                          - Romance
                        status: Ended
                        runtime: 60
                        premiered: '2000-10-05'
                        officialSite: null
                        schedule:
                          time: '21:00'
                          days:
                            - Tuesday
                        rating:
                          average: 8.4
                        weight: 84
                        network:
                          id: 5
                          name: The CW
                          country:
                            name: United States
                            code: US
                            timezone: America/New_York
                        webChannel: null
                        dvdCountry: null
                        externals:
                          tvrage: 3683
                          thetvdb: 76568
                          imdb: tt0238784
                        image:
                          medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/4/11308.jpg'
                          original: 'https://static.tvmaze.com/uploads/images/original_untouched/4/11308.jpg'
                        summary: '<p><b>Gilmore Girls</b> is a drama centering around the relationship between a thirtysomething single mother and her teen daughter living in Stars Hollow, Connecticut.</p>'
                        updated: 1618158592
                        _links:
                          self:
                            href: 'https://api.tvmaze.com/shows/525'
                          previousepisode:
                            href: 'https://api.tvmaze.com/episodes/47639'
                    - score: 14.192288
                      show:
                        id: 1955
                        url: 'https://www.tvmaze.com/shows/1955/the-powerpuff-girls'
                        name: The Powerpuff Girls
                        type: Animation
                        language: English
                        genres:
                          - Action
                          - Children
                          - Crime
                        status: Ended
                        runtime: 30
                        premiered: '1998-11-18'
                        officialSite: null
                        schedule:
                          time: ''
                          days:
                            - Friday
                        rating:
                          average: 7.7
                        weight: 65
                        network:
                          id: 11
                          name: Cartoon Network
                          country:
                            name: United States
                            code: US
                            timezone: America/New_York
                        webChannel: null
                        dvdCountry: null
                        externals:
                          tvrage: 6102
                          thetvdb: 76200
                          imdb: tt0175058
                        image:
                          medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/11/27896.jpg'
                          original: 'https://static.tvmaze.com/uploads/images/original_untouched/11/27896.jpg'
                        summary: '<p><b>The Powerpuff Girls</b> is an award-winning animated action series about three super-powered little girls Bubbles, Blossom and Buttercup with one very big mission: saving the world before bedtime.</p>'
                        updated: 1592706624
                        _links:
                          self:
                            href: 'https://api.tvmaze.com/shows/1955'
                          previousepisode:
                            href: 'https://api.tvmaze.com/episodes/160254'
                    - score: 14.00795
                      show:
                        id: 6771
                        url: 'https://www.tvmaze.com/shows/6771/the-powerpuff-girls'
                        name: The Powerpuff Girls
                        type: Animation
                        language: English
                        genres:
                          - Comedy
                          - Action
                          - Science-Fiction
                        status: Running
                        runtime: 15
                        premiered: '2016-04-04'
                        officialSite: 'https://www.cartoonnetwork.com/video/powerpuff-girls/index.html'
                        schedule:
                          time: '17:30'
                          days:
                            - Sunday
                        rating:
                          average: 5.8
                        weight: 51
                        network:
                          id: 11
                          name: Cartoon Network
                          country:
                            name: United States
                            code: US
                            timezone: America/New_York
                        webChannel: null
                        dvdCountry: null
                        externals:
                          tvrage: null
                          thetvdb: 307473
                          imdb: tt4718304
                        image:
                          medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/60/151357.jpg'
                          original: 'https://static.tvmaze.com/uploads/images/original_untouched/60/151357.jpg'
                        summary: '<p>The city of Townsville may be a beautiful, bustling metropolis, but don''t be fooled! There''s evil afoot! And only three things can keep the bad guys at bay: Blossom, Bubbles and Buttercup, three super-powered little girls, known to their fans (and villains everywhere) as <b>The Powerpuff Girls</b>. Juggling school, bedtimes, and beating up giant monsters may be daunting, but together the Powerpuff Girls are up to the task. Battling a who''s who of evil, they show what it really means to "fight like a girl."</p>'
                        updated: 1573685920
                        _links:
                          self:
                            href: 'https://api.tvmaze.com/shows/6771'
                          previousepisode:
                            href: 'https://api.tvmaze.com/episodes/1662010'
                    - score: 13.952632
                      show:
                        id: 42924
                        url: 'https://www.tvmaze.com/shows/42924/girls-cruise'
                        name: Girls Cruise
                        type: Reality
                        language: English
                        genres: []
                        status: Running
                        runtime: 60
                        premiered: '2019-07-15'
                        officialSite: 'http://www.vh1.com/shows/girls-cruise'
                        schedule:
                          time: '21:00'
                          days:
                            - Monday
                        rating:
                          average: null
                        weight: 89
                        network:
                          id: 55
                          name: VH1
                          country:
                            name: United States
                            code: US
                            timezone: America/New_York
                        webChannel: null
                        dvdCountry: null
                        externals:
                          tvrage: null
                          thetvdb: 365645
                          imdb: tt10466426
                        image:
                          medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/207/518599.jpg'
                          original: 'https://static.tvmaze.com/uploads/images/original_untouched/207/518599.jpg'
                        summary: '<p>Lil'' Kim and her friends Chilli, Mya, Vena E., B. Simone, Tiffany Panhilason and Char Defrancesco set sail for the ultimate Caribbean vacation filled with hilarious antics, emotional breakthroughs and spicy romances.</p>'
                        updated: 1574896429
                        _links:
                          self:
                            href: 'https://api.tvmaze.com/shows/42924'
                          previousepisode:
                            href: 'https://api.tvmaze.com/episodes/1720843'
      operationId: get-users-userId
      description: 'Search through all the shows in our database by the show''s name. A fuzzy algorithm is used (with a fuzziness value of 2), meaning that shows will be found even if your query contains small typos. Results are returned in order of relevancy (best matches on top) and contain each show''s full information. '
      parameters:
        - schema:
            type: string
          in: query
          name: q
          description: search text
  '/shows/{showId}?embed[]=seasons&embed[]=cast':
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowDetails'
              examples:
                example-1:
                  value:
                    id: 139
                    url: 'https://www.tvmaze.com/shows/139/girls'
                    name: Girls
                    type: Scripted
                    language: English
                    genres:
                      - Drama
                      - Romance
                    status: Ended
                    runtime: 30
                    premiered: '2012-04-15'
                    officialSite: 'http://www.hbo.com/girls'
                    schedule:
                      time: '22:00'
                      days:
                        - Sunday
                    rating:
                      average: 6.6
                    weight: 92
                    network:
                      id: 8
                      name: HBO
                      country:
                        name: United States
                        code: US
                        timezone: America/New_York
                    webChannel: null
                    dvdCountry: null
                    externals:
                      tvrage: 30124
                      thetvdb: 220411
                      imdb: tt1723816
                    image:
                      medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/31/78286.jpg'
                      original: 'https://static.tvmaze.com/uploads/images/original_untouched/31/78286.jpg'
                    summary: <p>This Emmy winning series is a comic look at the assorted humiliations and rare triumphs of a group of girls in their 20s.</p>
                    updated: 1611310521
                    _links:
                      self:
                        href: 'https://api.tvmaze.com/shows/139'
                      previousepisode:
                        href: 'https://api.tvmaze.com/episodes/1079686'
                    _embedded:
                      seasons:
                        - id: 650
                          url: 'https://www.tvmaze.com/seasons/650/girls-season-1'
                          number: 1
                          name: ''
                          episodeOrder: 10
                          premiereDate: '2012-04-15'
                          endDate: '2012-06-17'
                          network:
                            id: 8
                            name: HBO
                            country:
                              name: United States
                              code: US
                              timezone: America/New_York
                          webChannel: null
                          image:
                            medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/45/114492.jpg'
                            original: 'https://static.tvmaze.com/uploads/images/original_untouched/45/114492.jpg'
                          summary: null
                          _links:
                            self:
                              href: 'https://api.tvmaze.com/seasons/650'
                        - id: 651
                          url: 'https://www.tvmaze.com/seasons/651/girls-season-2'
                          number: 2
                          name: ''
                          episodeOrder: 10
                          premiereDate: '2013-01-13'
                          endDate: '2013-03-17'
                          network:
                            id: 8
                            name: HBO
                            country:
                              name: United States
                              code: US
                              timezone: America/New_York
                          webChannel: null
                          image:
                            medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/45/114491.jpg'
                            original: 'https://static.tvmaze.com/uploads/images/original_untouched/45/114491.jpg'
                          summary: null
                          _links:
                            self:
                              href: 'https://api.tvmaze.com/seasons/651'
                        - id: 652
                          url: 'https://www.tvmaze.com/seasons/652/girls-season-3'
                          number: 3
                          name: ''
                          episodeOrder: 12
                          premiereDate: '2014-01-12'
                          endDate: '2014-03-23'
                          network:
                            id: 8
                            name: HBO
                            country:
                              name: United States
                              code: US
                              timezone: America/New_York
                          webChannel: null
                          image:
                            medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/45/114490.jpg'
                            original: 'https://static.tvmaze.com/uploads/images/original_untouched/45/114490.jpg'
                          summary: null
                          _links:
                            self:
                              href: 'https://api.tvmaze.com/seasons/652'
                        - id: 653
                          url: 'https://www.tvmaze.com/seasons/653/girls-season-4'
                          number: 4
                          name: ''
                          episodeOrder: 10
                          premiereDate: '2015-01-11'
                          endDate: '2015-03-22'
                          network:
                            id: 8
                            name: HBO
                            country:
                              name: United States
                              code: US
                              timezone: America/New_York
                          webChannel: null
                          image:
                            medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/45/114489.jpg'
                            original: 'https://static.tvmaze.com/uploads/images/original_untouched/45/114489.jpg'
                          summary: null
                          _links:
                            self:
                              href: 'https://api.tvmaze.com/seasons/653'
                        - id: 21282
                          url: 'https://www.tvmaze.com/seasons/21282/girls-season-5'
                          number: 5
                          name: ''
                          episodeOrder: 10
                          premiereDate: '2016-02-21'
                          endDate: '2016-04-17'
                          network:
                            id: 8
                            name: HBO
                            country:
                              name: United States
                              code: US
                              timezone: America/New_York
                          webChannel: null
                          image: null
                          summary: ''
                          _links:
                            self:
                              href: 'https://api.tvmaze.com/seasons/21282'
                        - id: 48205
                          url: 'https://www.tvmaze.com/seasons/48205/girls-season-6'
                          number: 6
                          name: ''
                          episodeOrder: 10
                          premiereDate: '2017-02-12'
                          endDate: '2017-04-16'
                          network:
                            id: 8
                            name: HBO
                            country:
                              name: United States
                              code: US
                              timezone: America/New_York
                          webChannel: null
                          image: null
                          summary: null
                          _links:
                            self:
                              href: 'https://api.tvmaze.com/seasons/48205'
                      cast:
                        - person:
                            id: 27410
                            url: 'https://www.tvmaze.com/people/27410/lena-dunham'
                            name: Lena Dunham
                            country:
                              name: United States
                              code: US
                              timezone: America/New_York
                            birthday: '1986-05-13'
                            deathday: null
                            gender: Female
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/3/7597.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/3/7597.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/people/27410'
                          character:
                            id: 36886
                            url: 'https://www.tvmaze.com/characters/36886/girls-hannah-horvath'
                            name: Hannah Horvath
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/0/1954.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/0/1954.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/characters/36886'
                          self: false
                          voice: false
                        - person:
                            id: 11102
                            url: 'https://www.tvmaze.com/people/11102/allison-williams'
                            name: Allison Williams
                            country:
                              name: United States
                              code: US
                              timezone: America/New_York
                            birthday: '1988-04-13'
                            deathday: null
                            gender: Female
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/3/7628.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/3/7628.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/people/11102'
                          character:
                            id: 36887
                            url: 'https://www.tvmaze.com/characters/36887/girls-marnie-michaels'
                            name: Marnie Michaels
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/0/1955.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/0/1955.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/characters/36887'
                          self: false
                          voice: false
                        - person:
                            id: 27411
                            url: 'https://www.tvmaze.com/people/27411/jemima-kirke'
                            name: Jemima Kirke
                            country:
                              name: United Kingdom
                              code: GB
                              timezone: Europe/London
                            birthday: '1985-04-26'
                            deathday: null
                            gender: Female
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/3/7631.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/3/7631.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/people/27411'
                          character:
                            id: 36888
                            url: 'https://www.tvmaze.com/characters/36888/girls-jessa-johansson'
                            name: Jessa Johansson
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/0/1957.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/0/1957.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/characters/36888'
                          self: false
                          voice: false
                        - person:
                            id: 16405
                            url: 'https://www.tvmaze.com/people/16405/zosia-mamet'
                            name: Zosia Mamet
                            country:
                              name: United States
                              code: US
                              timezone: America/New_York
                            birthday: '1988-02-02'
                            deathday: null
                            gender: Female
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/3/7634.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/3/7634.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/people/16405'
                          character:
                            id: 36889
                            url: 'https://www.tvmaze.com/characters/36889/girls-shoshanna-shapiro'
                            name: Shoshanna Shapiro
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/0/1956.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/0/1956.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/characters/36889'
                          self: false
                          voice: false
                        - person:
                            id: 24858
                            url: 'https://www.tvmaze.com/people/24858/adam-driver'
                            name: Adam Driver
                            country:
                              name: United States
                              code: US
                              timezone: America/New_York
                            birthday: '1983-11-19'
                            deathday: null
                            gender: Male
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/257/643602.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/257/643602.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/people/24858'
                          character:
                            id: 36890
                            url: 'https://www.tvmaze.com/characters/36890/girls-adam-sackler'
                            name: Adam Sackler
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/0/1959.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/0/1959.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/characters/36890'
                          self: false
                          voice: false
                        - person:
                            id: 24970
                            url: 'https://www.tvmaze.com/people/24970/alex-karpovsky'
                            name: Alex Karpovsky
                            country:
                              name: United States
                              code: US
                              timezone: America/New_York
                            birthday: '1975-09-23'
                            deathday: null
                            gender: Male
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/3/7638.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/3/7638.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/people/24970'
                          character:
                            id: 36891
                            url: 'https://www.tvmaze.com/characters/36891/girls-ray-ploshansky'
                            name: Ray Ploshansky
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/0/1958.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/0/1958.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/characters/36891'
                          self: false
                          voice: false
                        - person:
                            id: 27412
                            url: 'https://www.tvmaze.com/people/27412/andrew-rannells'
                            name: Andrew Rannells
                            country:
                              name: United States
                              code: US
                              timezone: America/New_York
                            birthday: '1978-08-23'
                            deathday: null
                            gender: Male
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/0/1960.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/0/1960.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/people/27412'
                          character:
                            id: 36892
                            url: 'https://www.tvmaze.com/characters/36892/girls-elijah-krantz'
                            name: Elijah Krantz
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/15/38615.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/15/38615.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/characters/36892'
                          self: false
                          voice: false
                        - person:
                            id: 4896
                            url: 'https://www.tvmaze.com/people/4896/ebon-moss-bachrach'
                            name: Ebon Moss-Bachrach
                            country:
                              name: United States
                              code: US
                              timezone: America/New_York
                            birthday: '1977-03-19'
                            deathday: null
                            gender: Male
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/147/369955.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/147/369955.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/people/4896'
                          character:
                            id: 37030
                            url: 'https://www.tvmaze.com/characters/37030/girls-desi'
                            name: Desi
                            image:
                              medium: 'https://static.tvmaze.com/uploads/images/medium_portrait/15/38616.jpg'
                              original: 'https://static.tvmaze.com/uploads/images/original_untouched/15/38616.jpg'
                            _links:
                              self:
                                href: 'https://api.tvmaze.com/characters/37030'
                          self: false
                          voice: false
      operationId: get-shows-with-seasons-and-cast
    parameters:
      - schema:
          type: integer
        name: showId
        in: path
        required: true
        description: The ID of the the TV Show
components:
  schemas:
    ShowSearchResult:
      description: ''
      type: object
      properties:
        score:
          type: number
        show:
          $ref: '#/components/schemas/ShowSummary'
      required:
        - score
        - show
    ShowSummary:
      description: ''
      type: object
      properties:
        id:
          type: number
        url:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1
        type:
          type: string
          minLength: 1
        language:
          type: string
          minLength: 1
        genres:
          type: array
          items:
            type: string
        status:
          type: string
          minLength: 1
        runtime:
          type: number
        premiered:
          type: string
          minLength: 1
        officialSite:
          type: string
          minLength: 1
        schedule:
          $ref: '#/components/schemas/Schedule'
        rating:
          $ref: '#/components/schemas/Rating'
        weight:
          type: number
        network:
          $ref: '#/components/schemas/Network'
        webChannel: {}
        dvdCountry: {}
        externals:
          $ref: '#/components/schemas/Externals'
        image:
          $ref: '#/components/schemas/Image'
        summary:
          type: string
          minLength: 1
        updated:
          type: number
        _links:
          $ref: '#/components/schemas/Links'
      required:
        - id
        - url
        - name
        - type
        - language
        - genres
        - status
        - runtime
        - premiered
        - officialSite
        - schedule
        - rating
        - weight
        - network
        - externals
        - image
        - summary
        - updated
        - _links
    Country:
      description: ''
      type: object
      properties:
        name:
          type: string
          minLength: 1
        code:
          type: string
          minLength: 1
        timezone:
          type: string
          minLength: 1
      required:
        - name
        - code
        - timezone
    Network:
      description: ''
      type: object
      properties:
        id:
          type: number
        name:
          type: string
          minLength: 1
        country:
          $ref: '#/components/schemas/Country'
      required:
        - id
        - name
        - country
    Schedule:
      description: ''
      type: object
      properties:
        time:
          type: string
          minLength: 1
        days:
          type: array
          items:
            required: []
            properties: {}
      required:
        - time
        - days
    Rating:
      description: ''
      type: object
      properties:
        average:
          type: number
      required:
        - average
    Externals:
      description: ''
      type: object
      properties:
        tvrage:
          type: number
        thetvdb:
          type: number
        imdb:
          type: string
          minLength: 1
      required:
        - tvrage
        - thetvdb
        - imdb
    Image:
      description: ''
      type: object
      properties:
        medium:
          type: string
          minLength: 1
        original:
          type: string
          minLength: 1
      required:
        - medium
        - original
    Links:
      description: ''
      type: object
      properties:
        self:
          type: object
          required:
            - href
          properties:
            href:
              type: string
              minLength: 1
        previousepisode:
          type: object
          required:
            - href
          properties:
            href:
              type: string
              minLength: 1
      required:
        - self
    ShowDetails:
      description: ''
      type: object
      properties:
        id:
          type: number
        url:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1
        type:
          type: string
          minLength: 1
        language:
          type: string
          minLength: 1
        genres:
          type: array
          items:
            type: string
        status:
          type: string
          minLength: 1
        runtime:
          type: number
        premiered:
          type: string
          minLength: 1
        officialSite:
          type: string
          minLength: 1
        schedule:
          $ref: '#/components/schemas/Schedule'
        rating:
          $ref: '#/components/schemas/Rating'
        weight:
          type: number
        network:
          $ref: '#/components/schemas/Network'
        webChannel: {}
        dvdCountry: {}
        externals:
          $ref: '#/components/schemas/Externals'
        image:
          $ref: '#/components/schemas/Image'
        summary:
          type: string
          minLength: 1
        updated:
          type: number
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          $ref: '#/components/schemas/SeasonsAndCast'
      required:
        - id
        - url
        - name
        - type
        - language
        - genres
        - status
        - runtime
        - premiered
        - officialSite
        - schedule
        - rating
        - weight
        - network
        - externals
        - image
        - summary
        - updated
        - _links
        - _embedded
    SeasonsAndCast:
      description: ''
      type: object
      properties:
        seasons:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            $ref: '#/components/schemas/Season'
        cast:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            $ref: '#/components/schemas/Cast'
      required:
        - seasons
        - cast
    Season:
      description: ''
      type: object
      properties:
        id:
          type: number
        url:
          type: string
          minLength: 1
        number:
          type: number
        name:
          type: string
        episodeOrder:
          type: number
        premiereDate:
          type: string
          minLength: 1
        endDate:
          type: string
          minLength: 1
        network:
          $ref: '#/components/schemas/Network'
        webChannel: {}
        image:
          $ref: '#/components/schemas/Image'
        summary: {}
        _links:
          type: object
          required:
            - self
          properties:
            self:
              type: object
              required:
                - href
              properties:
                href:
                  type: string
                  minLength: 1
      required:
        - id
        - url
        - number
        - name
        - episodeOrder
        - premiereDate
        - endDate
        - network
        - image
        - _links
    Cast:
      description: ''
      type: object
      properties:
        person:
          $ref: '#/components/schemas/Person'
        character:
          $ref: '#/components/schemas/Character'
        self:
          type: boolean
        voice:
          type: boolean
      required:
        - person
        - character
        - self
        - voice
    Person:
      description: ''
      type: object
      properties:
        id:
          type: number
        url:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1
        country:
          $ref: '#/components/schemas/Country'
        birthday:
          type: string
          minLength: 1
        deathday: {}
        gender:
          type: string
          minLength: 1
        image:
          $ref: '#/components/schemas/Image'
        _links:
          $ref: '#/components/schemas/Links'
      required:
        - id
        - url
        - name
        - country
        - birthday
        - gender
        - image
        - _links
    Character:
      description: ''
      type: object
      properties:
        id:
          type: number
        url:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1
        image:
          $ref: '#/components/schemas/Image'
        _links:
          $ref: '#/components/schemas/Links'
      required:
        - id
        - url
        - name
        - image
        - _links
